<html>
<body>
    <div class="login">
       <h1>Zomato delivery Time Prediction</h1>
   
       <form action="{{ url_for('predict_datapoint')}}" method="post">
        
        <div>
            <label class="form-label">Delivery Person Age</label>
            <input class="form-control" type="number" name="Delivery_person_Age"
                placeholder="Enter Age of Delivery Person" min='0' max='100' />
        </div>

        <div>
            <label class="form-label">Delivery Person Ratings</label>
            <input class="form-control" type="number" name="Delivery_person_Ratings"
                placeholder="Enter Rating of Person" min='0' max='5' step='0.1' />
        </div>

        <div>
            <label class="form-label">Weather Conditions</label>
            <select class="form-control" name="Weatherconditions"
                placeholder="Enter the Weather Conditions" required>
                <option class="placeholder" selected disabled value="">Select Weather Conditions</option>
                <option value="Fog">
                    Foggy
                </option>
                <option value="Stormy">
                    Stormy
                </option>
                <option value="Cloudy">
                    Cloudy
                </option>
                <option value="Sandstorms">
                    Sandstorms
                </option>
                <option value="Windy">
                    Windy
                </option>
                <option value="Sunny">
                    Sunny
                </option>
            </select>
        </div>

        <div>
            <label class="form-label">Road Traffic</label>
            <select class="form-control" name="Road_traffic_density" placeholder="Traffic" required>
                <option class="placeholder" selected disabled value="">Select Road Traffic type</option>
                <option value="Low">
                    Low
                </option>
                <option value="Jam">
                    Jam
                </option>
                <option value="Medium">
                    Medium
                </option>
                <option value="High">
                    High
                </option>
            </select>
        </div>

        <div>
            <label class="form-label">Condtion of vehicle</label>
            <input class="form-control" type="number" name="Vehicle_condition"
                placeholder="Condtion of Vehicle" min='0' max='3' step='1'/>
        </div>
        
        <div>
            <label class="form-label">Type of Order</label>
            <select class="form-control" name="Type_of_order" placeholder="Order Type" required>
                <option class="placeholder">Select the Order Type</option>
                <option value="Snacks">
                    Snacks
                </option>
                <option value="Meal">
                    Meal
                </option>
                <option value="Drinks">
                    Drinks
                </option>
                <option value="Buffet">
                    Buffet
                </option>
        </div>

        <div>
            <label class="form-label">Type of Vehicle</label>
            <select class="form-control" name="Type_of_vehicle" placeholder="Type of Vehicle" required>
                <option class="placeholder">Select the Vehicle Type</option>
                <option value="motorcycle">
                    Motorcycle
                </option>
                <option value="scooter">
                    Scooter
                </option>
                <option value="electric_scooter">
                    Electric Scooter
                </option>
                <option value="bicycle">
                    Bicycle
                </option>
        </div>
        
        <div>
            <label class="form-label">Multiple Deliveries</label>
            <input class="form-control" type="number" name="multiple_deliveries"
                placeholder="Multiple Deliveries" min='0' max='3' step='1'/>
        </div>

        <div>
            <label class="form-label">Festival</label>
            <select class="form-control" name="Festival" placeholder="Festival?" required>
                <option class="placeholder" selected disabled value="">Festival</option>
                <option value="Yes">
                    Yes
                </option>
                <option value="No">
                    No
                </option>
        </div>

        <div>
            <label class="form-label">City</label>
            <select class="form-control" name="City" placeholder="City" required>
                <option class="placeholder" selected disabled value="">City</option>
                <option value="Metropolitian">
                    Metropolitian
                </option>
                <option value="Urban">
                    Urban
                </option>
                <option value="Semi-Urban">
                    Semi-Urban
        </div>

        <div>
            <label class="form-label">Distance </label>
            <input class="form-control" type="number" name="Distance"
                placeholder="Distance to home" min='0' max='25'/>
        </div>

        <div>
            <input class="btn btn-primary" type="submit" value="Predict the time taken" required />
        </div>
    </form>
    <h2>
       THE  prediction is {{results}}
    </h2>
   <body>
</html>