<html>
<body>
    <center>
    <div class="login">
       <h1>Zomato delivery Time Prediction</h1>
   
       <form action="{{ url_for('predict_datapoint')}}" method="post">
        
        <div class="section">
            <div class="title">Delivery Person Age</div>
            <div class="description">
                <input type="text" id="Delivery_person_Age" name="Delivery_person_Age" placeholder="Enter AGE">
            </div>
        </div>
        

        <div class="section">
            <div class="title">Delivery Person Ratings</div>
            <div class="description">
                <input type="text" id="Delivery_person_Ratings" name="Delivery_person_Ratings" placeholder="Enter  rating (float)">
            </div>
        </div>

        <div class="section">
            <div class="title">Weather Conditions</div>
            <div class="description">
              <select id="Weather_conditions" name="Weatherconditions">
                <option value="Sunny">Sunny</option>
                <option value="Cloudy">Cloudy</option>
                <option value="Fog">Fog</option>
                <option value="Windy">Windy</option>
                <option value="Sandstorms">Sandstorms</option>
                <option value="Stormy">Stormy</option>
              </select>
            </div>
        </div>

        <div class="section">
            <div class="title">Road Traffic</div>
            <div class="description">
              <select id="Road_traffic_density" name="Road_traffic_density">
                <option value="Low">Low</option>
                <option value="Medium">Medium</option>
                <option value="High">High</option>
                <option value="Jam">Jam</option>
              </select>
            </div>
        </div>

        <div class="section">
            <div class="title">Vehicle Condition</div>
            <div class="description">
              <select id="Vehicle_condition" name="Vehicle_condition">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </div>
        </div>
        
        <div class="section">
            <div class="title">Order Type</div>
            <div class="description">
              <select id="Type_of_order" name="Type_of_order">
                <option value="Drinks">Drinks</option>
                <option value="Buffet">Buffet</option>
                <option value="Snack">Snack</option>
                <option value="Meal">Meal</option>
              </select>
            </div>
        </div>

        <div class="section">
            <div class="title">Vehicle Type</div>
            <div class="description">
              <select id="Type_of_vehicle" name="Type_of_vehicle">
                <option value="scooter">scooter</option>
                <option value="motorcycle">motorcycle</option>
                <option value="electric_scooter">electric_scooter</option>
                <option value="bicycle">bicycle</option>
              </select>
            </div>
        </div>
        
        <div class="section">
            <div class="title">Multiple Deliveries</div>
            <div class="description">
              <select id="multiple_deliveries" name="multiple_deliveries">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </div>
        </div>

        <div class="section">
            <div class="title">Festival</div>
            <div class="description">
              <select id="Festival" name="Festival">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              
              </select>
            </div>
        </div>

        <div class="section">
            <div class="title">City</div>
            <div class="description">
              <select id="City" name="City">
                <option value="Metropolitian">Metropolitian</option>
                <option value="Urban">Urban</option>
                <option value="Semi-Urban">Semi-Urban</option>
              </select>
            </div>
        </div>

        <div class="section">
            <div class="title">Distance</div>
            <div class="description">
                <input type="text" id="distance" name="Distance" placeholder="Enter  distance (float)">
            </div>
        </div>

        <div style="width:100%; float: left; text-align: center;">
 
            <input type="submit" value="Submit" style="width: 150px; height: 40px; background-color: rgb(247, 8, 8); color: white; font-size: 23px;">
       
          </div>

    </form>
    <h2>
       The Food will come in {{results}} minutes.
    </h2>
</center>
   <body>
</html>